<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <img class="logo" src="assets/images/VitLogoSLS.svg">
      <div class="page-title">{{appName}}</div>
      <div class="page-subtitle">{{ "About.Title" | translate }}</div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      {{"About.Information" | translate}}
    </ion-list-header>
    <ion-item *ngFor="let page of aboutPages; let i = index" (click)="openContentPage(i)">{{translate.currentLang ? page[translate.currentLang].name : ""}}</ion-item>
    <!--<ion-item>Till skrivbordsversionen</ion-item>
    <ion-item>Om Henry Parland</ion-item>-->
  </ion-list>
  <ion-list *ngIf="languages.length > 1">
    <ion-list-header>
      {{"About.UI" | translate}}
    </ion-list-header>

    <ion-item *ngIf="enableLanguageChanges">
      <ion-label>{{"About.Language" | translate}}</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
        <ion-option value="sv">Svenska</ion-option>
        <ion-option value="fi">Suomeksi</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
