read-popover-page {
	.text-button {
		text-align: center;
		background: transparent;
		margin-left: 43%;
	}

	.text-smaller {
		font-size: 12px;
	}

	.text-larger {
		font-size: 20px;
	}

	ion-list-header {
		font-weight: bold;
	}

}
