    <ion-list>
      <ion-list-header>
        {{'Read.Popover.Appearance' | translate}}
      </ion-list-header>
      
      <ion-row>
        <ion-col width-50><button class="text-button text-smaller item-block" (click)="decreaseFontSize()">A</button></ion-col>
        <ion-col width-50><button class="text-button text-larger item-block" (click)="increaseFontSize()">A</button></ion-col>
      </ion-row>

    </ion-list>

    <ion-list>
      <ion-list-header>
        {{'Read.Popover.Show' | translate}}:
      </ion-list-header>

      <ion-item *ngIf="readToggles.comments">
        <ion-label>{{'Read.Popover.Comments' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="show.comments" (ionChange)="toggleComments()"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="readToggles.personInfo">
        <ion-label>{{'Read.Popover.PersonInfo' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="show.personInfo" (ionChange)="togglePersonInfo()"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="readToggles.abbreviations">
        <ion-label>{{'Read.Popover.Abbreviations' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="show.abbreviations" (ionChange)="toggleAbbreviations()"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="readToggles.pageNumbering">
        <ion-label>{{'Read.Popover.PageNumbering' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="show.pageNumbering" (ionChange)="togglePageNumbering()"></ion-toggle>
      </ion-item>
    </ion-list>

