<ion-tabs name="main">
  <ion-tab [root]="tab1Root" tabTitle="{{texts.Home}}" tabUrlPath="front" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="{{texts.Read}}" tabUrlPath="list" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="{{texts.Info}}" tabUrlPath="info" tabIcon="information-circle"></ion-tab>
</ion-tabs>
