<!--
  Generated template for the CommentModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>
  

</ion-header>


<ion-content padding>
  <div class="tei" [innerHTML]="comment">FOO</div>
</ion-content>
