<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="page-title">{{appName}}</div>
      <div class="page-subtitle">{{establishedText.title}}</div>
    </ion-title>

    <ion-buttons end>
      <!--<button ion-button (click)="presentDownloadActionSheet()">
        <ion-icon name="download"></ion-icon>
      </button>-->
      <button ion-button (click)="showPopover($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content (swipe)="swipePrevNext($event)" padding>

  <!--<div padding>
    <ion-segment [(ngModel)]="show">
      <ion-segment-button value="establishedText">
        Lästext
      </ion-segment-button>
      <ion-segment-button value="manuscripts">
        Manuskript
      </ion-segment-button>
      <ion-segment-button value="commentaries">
        Kommentarer
      </ion-segment-button>
      <ion-segment-button value="facsimilies">
        Faksimil
      </ion-segment-button>      
    </ion-segment>
  </div>-->
  <!--<div [ngSwitch]="show">
    <div *ngSwitchCase="'establishedText'">
      <div class="tei" [innerHTML]="establishedText.content"></div>
    </div>

    <div *ngSwitchCase="'manuscripts'">
      Manuskript [proof of concept]
    </div>

    <div *ngSwitchCase="'commentaries'">
      Kommentarer [proof of concept]
    </div>

    <div *ngSwitchCase="'facsimilies'">
      Faksimil [proof of concept]
    </div>
  </div>-->

  <div class="tei" [innerHTML]="establishedText.content" 
      [class.show_comments]="readPopoverService.show.comments"
      [class.show_personInfo]="readPopoverService.show.personInfo"
      [class.show_abbreviations]="readPopoverService.show.abbreviations"
      [class.show_pageNumbering]="readPopoverService.show.pageNumbering"
      [class.largeFont]="readPopoverService.fontsize"
      
      ></div>
	 
	<div class="forwardBackward"  *ngIf="prevnext">
		<div class="backwardButtonDiv" *ngIf="prevnext.prev">
			<button class="backwardButton" ion-fab mini (click)="prevPage()"><ion-icon name="arrow-dropleft"></ion-icon></button>
		</div>
		<div class="forwardButtonDiv" *ngIf="prevnext.next">
			<button class="forwardButton" ion-fab mini (click)="nextPage()"><ion-icon name="arrow-dropright"></ion-icon></button>
		</div>
	</div>
    
  <div class="" *ngIf="!prevnext">
    <button ion-button round icon-end (click)="firstPage()">{{"Read.ReadFromBeginning" | translate }}</button>
  </div>
	  
</ion-content>
