page-read {
    .tooltip {
        display: none;
    }

	.pb_orig{
		display:none;
	}
		
	.swipeCenter {
		position:absolute;
		left: 0;
		right: 0;
		padding-bottom: 4em;
		margin:0 auto;
		text-align: center;
		font-size: 2em;
		color: #676767;
		transform:translateY(-50%);
	}
	
	.forwardBackward {
		vertical-align:bottom;
		padding-left: 1em;
		padding-right: 1em;
	}
	
	@media screen and (max-width: 480px) {
		.tei{
			padding-left:5px!important;
			padding-right:5px!important;
		}
	}
	.tei {
		transition-property: padding-left;
		transition-duration: 0.2s;
	}
	.tei.show_pageNumbering {
		padding-left: 50px !important;
	}


	.forwardButtonDiv{
		float:right;
	}
	
	.backwardButtonDiv{
		float:left;
	}
	

   /* .tooltiptrigger {
        img, span {
            display:none;
        }

        &.ttChanges:after {
            width: 20px;
            height: 20px;
            display: inline-block;
            color: white;
            background-color: black;
            border-radius: 10px;
            margin: -4px 5px;
            content: ' ';
        }
    }
    
    .tooltip {
        display: none;
    }

    .pb_orig {
        display: none; // i think.
    }

*/


}