<ion-header>
  <ion-navbar>
    <ion-title>
      <img class="logo" src="assets/images/VitLogoSLS.svg">
      <div class="page-title">{{appName}}</div>
      <div class="page-subtitle">{{"Read.DigitalEditions" | translate }}</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [innerHTML]="readContent"></div>
  <digital-editions-list></digital-editions-list>
</ion-content>
