<ion-header>
  <ion-navbar>
    <ion-title>
      <img class="logo" src="assets/images/VitLogoSLS.svg">
      <div class="page-title">Svenska litteratursällskapet i Finland</div>
      <div class="page-subtitle">{{appName}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="background">
      <picture>
        <source media="(max-width: 767px)" srcset="assets/project/{{appMachineName}}/frontpage-image-portrait-small.jpg 1x,
        assets/project/{{appMachineName}}/frontpage-image-portrait-large.jpg 2x">
        <source media="(min-width: 768px)" srcset="assets/project/{{appMachineName}}/frontpage-image-landscape.jpg 1x">
        <img src="assets/project/{{appMachineName}}/frontpage-image-portrait-small.jpg">
      </picture>
    </div>
    <div class="foreground">
      <div class="banner-title">{{appName}}</div>
      <div class="banner-subtitle">{{appSubtitle}}</div>
    </div>
  </div>

  <div [innerHTML]="homeContent" padding></div>

<ion-content>
