home-page {
	.page-title {
		margin-top: 11px;
	}

	.banner {
		margin-top: 0.00em;
		padding-left: 0px;
    margin-left: 0px;
	}
	
	.foreground {
		width:100%;
	}
	
	.scroll-content .content.content-md {
		display: none;
	}
	
	.background {
		width: 100%;
		height: auto;

		img {
			width: 100%;
		}
		
	}
	
	.banner-title {
		font-weight: normal !important;
	}
	
	.fp_h1 {
		font-size: 2rem;
	}
	
	.foreground {
		border-bottom: 5px solid color($colors, orange);
	}
}


/*

  <div class="banner">
    <div class="background">
      <img src="assets/project/{{appMachineName}}/frontpage-image.jpg"/>
    </div>
    <div class="foreground">
      <div class="banner-title">{{appName}}</div>
      <div class="banner-subtitle">{{appSubtitle}}</div>
    </div>
  </div>*/