// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000000;
$background-color:  #fafafa;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
	primary:	#B0A898,
	secondary:	#888174,
	danger:		#f53d3d,
	light:		#D3DD9F,
	person:		#edd19f,
	dark:		#222,
	white:		#fff,
	purple:		#413861,
	orange:		#e1a462
);


$fab-content-margin: 0;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Change #000 to any color to see the md text color change
$text-md-color:                           $text-color;

// Use the primary color as the background for the toolbar-md-background
$toolbar-md-background:                   color($colors, purple);

// Use the default background for the tabbar since it inherits from toolbar
$tabs-md-background:                      color($colors, purple);

// Change the color of the tabs text
$tabs-md-tab-color-active:                color($colors, white);
$tabs-md-tab-color-inactive:              color($colors, white);

// Change the color of the segment button text
$toolbar-md-active-color:                 #fff;
$toolbar-md-inactive-color:               #fff;
$segment-button-md-text-color-activated:  #fff;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// Project specific variables
@import "project-variables.scss";

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
