<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="page-title">{{appName}}</div>
      <div class="page-subtitle">{{edition.title}}</div>
    </ion-title>
    
    <ion-buttons end>
      <button ion-button (click)="showPopover($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="card-background-page">

  <ion-card *ngIf="image" class="editionImageCard">
    <div class="editionImageDiv">
		<img class="editionImage" src="{{image}}">
	</div>
	<div class="editionDescription" [innerHTML]="editionDescription.content"></div>
  </ion-card>

  <h1 class="subTitle">{{subTitle}}</h1>

  <button ion-button round icon-end (click)="openFirstPage()">{{"Read.ReadFromBeginning" | translate }}</button>
  
  <table-of-contents [root]="root" [tableOfContents]="tableOfContents" [tocItems]="tocItems" [edition]="edition" [showIntroduction]="true"></table-of-contents>

</ion-content>
