page-single-edition {
	.subTitle{
		color:#000000;
		font-size: 1.3em;
		font-style: italic;
		font-weight: normal;
	}
	
	.item-inner{
		border-bottom: 1px solid color($colors, orange) !important;
	}
		
	.editionImageDiv{
		width: 30%;
		float:left;
		padding-right:0.5em;
	}
	
	.editionDescription{
		text-align:left;
		padding-top: 0.0em;
		padding-left: 0.0em;
	}
	
	.editionDescription h1{
		font-size: 1.7rem !important;
		font-weight:bold;
	}
	
	.editionDescription h2{
		font-size: 1.5rem;
		padding-bottom: 1em;
		font-weight:bold;
	}
	
	.indented{
		padding-left: 1.2em;
	}
	
	.justLevel{
		color: #000000;
	}
	
	.item-block {
		padding-left: 0;
	}
	
	.editionImageCard{
		display: inline-block;
		box-shadow: none !important;
		margin-left: 0;
		margin-right: 0;
		width:100%;
	}
}
