<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="page-title">{{appName}}</div>
      <div class="page-subtitle">{{edition.title}}</div>
    </ion-title>
    
    <ion-buttons end>
      <button ion-button (click)="showPopover($event)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="card-background-page">

  <ion-card *ngIf="image" class="editionImageCard">
    <img class="editionImage" src="{{image}}">
	<p>test should get from API</p>
  </ion-card>

  <h1 class="subTitle">{{subTitle}}</h1>

  <table-of-contents [root]="root" [tableOfContents]="tableOfContents" [tocItems]="tocItems" [edition]="edition" [showIntroduction]="false"></table-of-contents>

</ion-content>
