<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Meny</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>