// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Load tei stylesheet
@import 'tei';

.tei {
  font-family: Georgia,Times,"Times New Roman",serif;
  padding: 10px 20px;
}

ion-app, ion-app.md {
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
}

mark {
  background-color: color($colors, purple) !important;
  color: white;
}

h1 {
 /* background-color: color($colors, light);
  margin: 0 -16px;
  padding: 30px 16px;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 700;
}

p, blockquote {
  font-family: 'Open Sans',Arial,sans-serif;
  line-height: 2.2rem;

}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

/** Banner */

.banner {
    position: relative;
    margin-top: 55px;

    .foreground {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 16px;
        background: rgba(0,0,0,0.5);
    }

  .banner-title {
      @extend h1;
      font-family: Georgia,Times,"Times New Roman",serif;
      margin-top: 0;
  }
  .banner-subtitle {
      font-weight: bold;
  }
}

/** Logo and two rows in title */

ion-title {
  .logo {
    height: 54px;
    float: left;
    margin-right: 10px;
  }

  .page-title {
      font-size: 13px;
      text-transform: uppercase;
      margin-top: 3px;
      margin-bottom:0;
      font-weight: bold;
  }

  .page-subtitle {
      font-size: 13px;
      font-style: italic;
      margin-top: 0px;
  }
}

.toolbar{
	min-height:62px;
}