page-content {
    .orange{
        background-color:#edd19f;
    }
    .rosa{
        background-color:#f6cdf6;
    }
    .tooltiptrigger{
        display:inline-block;
        width:20px;
    }
}


