<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="page-title">{{ appName }}</div>
      <div class="page-subtitle">{{ htmlContent.title }}</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div [innerHTML]="htmlContent.content"></div>

</ion-content>
