<ion-list>
  <ion-item *ngFor="let edition of digitalEditions" menuClose (click)="openEdition(edition)">
  <ion-thumbnail item-left>
    <img src="{{editionImages[edition.id] ? (editionImages[edition.id]).replace('.','_thumb.') : (editionImages.default).replace('.','_thumb.')}}">
  </ion-thumbnail>
  <h2>{{edition.title}}</h2>
  <p>{{editionShortTexts[translate.currentLang][edition.id] ? editionShortTexts[translate.currentLang][edition.id] : editionShortTexts[translate.currentLang].default}}</p>
  </ion-item>
</ion-list>